[submodule "Prometheus/client_golang"]
	path = Prometheus/client_golang
	url = https://github.com/prometheus/client_golang.git
[submodule "Prometheus/prometheus_tutorial"]
	path = Prometheus/prometheus_tutorial
	url = https://github.com/tmedicci/prometheus_tutorial.git
[submodule "emoncms-docker"]
	path = emoncms-docker
	url = https://github.com/tmedicci/emoncms-docker
